// import custom .scss files
@import './custom-variables';

// import modules and structures layouts from Bootstrap
@import '../bootstrap/scss/bootstrap.scss';

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

/* Navbar section */
.nav-icon-mobile{
    height:30px;
    width:auto;
}

.nav-icon-desktop{
    height:25px;
    width:auto;
    padding-left: 5px;
    padding-right: 5px;
}

.nav-link-mobile, .nav-link-desktop, .nav-link-desktop-sub{
    color: $primary;
}

.nav-link-desktop{
    margin-right:15px;
}

.dropdown-toggle{
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    line-height: 1 !important;
}

.nav-item-right-desktop{
    margin-right:20px;
}

.btn.dropdown-toggle::after{
    margin-left: 2px;
}

.collapse-mobile{
    position: absolute;
    bottom: 60px;
    left: 0;
    width: 100%;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    pointer-events: none;
    transition: max-height 0.3s ease;
  
    &.show {
      max-height: 300px; /* o quanto vuoi */
      pointer-events: auto; /* ora prende i click */
      z-index: 1080;
    }
}

/* car carousel */
.car-carousel{
    width: 100vw;
    height: 35vh;
}

.car-carousel .carousel-inner,
.car-carousel .carousel-inner .carousel-item{
    width: 100%;
    height:100%;
    align-items: center;
}

@media (min-width: 768px){
    .car-carousel{
        height: 90vh;
        width: 100vw;
    }

    .car-carousel .carousel-inner .carousel-item img{
        width:100% !important;
        height: 100% !important;
        margin: 0 auto !important;
        display: block !important;
        object-fit: contain !important;
    }
}

.carousel-title{
    position:absolute;
    bottom:20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    white-space: nowrap;
    font-size: 6vw;
}

/* home sections:
titles and cards */
.home-section{
    margin-left: 2vw;
}

.btn-card-details{
    display: block;
    float: right !important;
}

.shopping-cart-icon{
    width: 35px;
    height: 35px;
}

.shopping-cart-button{
    float: right;
    margin-right: 10px;
}

@media(max-width: 768px){
    .card{
        transform: scale(0.8) !important;
    }
}