// import custom .scss files
@import './custom-variables';

// import modules and structures layouts from Bootstrap
@import '../bootstrap/scss/bootstrap.scss';

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: $secondary;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px $secondary;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round:before {
    border-radius: 50%;
}

/* Navbar section */
.nav-link-mobile, .nav-link-desktop, .nav-link-desktop-sub{
    font-family: $nav-text_font;
    display: inline-block;
    position: relative;
    text-decoration: none;
    transition: all 1.0s ease;
    
    &:hover{
        text-decoration: underline;
        text-decoration-thickness: 4px;
    }
}

.nav-link-desktop, .nav-link-mobile{
    font-size: #{$nav-text_size}px;
}

.link-group_navMobile{
    &:hover{
        transform: translateX(20px);
        transition-duration: 0.8s;
    }
}

.nav-link-desktop-sub{
    font-size: #{$nav-text-subtitle_size}px;
}


.btn-outline-success{
    border-color: $secondary;
    color: $secondary;
    background-color: transparent;
    transition: all 0.3s ease;
    
    &:hover{
        background-color: $secondary;
        color: white;
        border-color: $secondary;
    }
}

.car-icon_nav{
   transform: scale(1.2);
   margin-right: 5px;
}

.index-icon_nav{
    transform: scale(1.1);
    margin-right: 0;
    padding-right: 0;
}

/* car-carousel */
.car-carousel{
    background-color: black;
}

h1{
    font-family: $main-title_font;
    font-size: $main-title_size;
}

.carousel-title{
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #333; 

  &:hover{
    background-color: #555;
  }
}

/* second title,
used for home sections
and for the title of other pages */
h2{
    text-align: left;
    font-family: $second-title_font;
    font-size: $second-title_size;
    color: $primary;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: $secondary;
    text-underline-offset: 7px;
}

/* cards for the cars */
.card-ul{
    list-style:none;
    padding: 0;
    margin: 0;
}

.card{
    font-family: $normal-text_font;
}

.btn-secondary{
    color: white;
    border-radius: 10px;

    &:hover{
        background-color: white;
        color: $secondary;
        transition-duration: 0.3s;
    }
}

.price{
    font-family: $price_font;
    font-size: #{$price_size}px;
}

h5{
    font-family: $small-subtitle_font;
    font-size: 25px;
    font-weight: bold;
}

.card-descriptor{
    font-weight: bold;
    font-style: italic;
}

.card-zoom{
    transform-origin: top left;

    &:hover{
        transform: scale(1.1) !important;
        transition-duration: 0.5s;
        z-index: 20;
    }
}

.shopping-cart-button{
    border-radius: 20px;
    border-color: $secondary;
    border-width: 5px;

    &:hover{
        background-color: $secondary;
        .shopping-cart-icon{
            filter: invert(1);
        }
    }
}

.brand-card{
    transform-origin: top left;

    &:hover{
        transform: scale(0.8) !important;
        transition-duration: 0.5s;
        z-index:20;
    }
}

@media(max-width: 768px){
    .card:hover{
        transform: scale(0.9) !important;
    }
}

.card-sitelink-header{
    background-color: $secondary;
    color: white;
    text-align: center;
}

/* normal text definition */
.normal-text{
    font-family: $normal-text_font;
}

/* footer settings */
.unordered-list_no-pointed{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer{
    background-color: rgba(0, 0, 0, 0.773);
    color: white;
}

.footer-link{
    color: white;
}

.footer-icon{
    filter: invert(1);
}

/* form for the car configurator */
/* remove the native style of 
the browser */
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
}
  
/* track for Chrome/Safari */
input[type=range]::-webkit-slider-runnable-track {
    background: #ddd;
    height: 6px;
    border-radius: 5px;
}
  
/* thumb for Chrome/Safari */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -7px; 
    width: 20px;
    height: 20px;
    background-color: $secondary;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
  
/* thumb for Firefox */
input[type=range]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: $secondary;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
  
/* thumb for Firefox */
input[type=range]::-moz-range-track {
    background: #ddd;
    height: 6px;
    border-radius: 5px;
}

.form-check-input:checked {
    background-color: $secondary;
    border-color: $secondary; 
}
  
.form-check-input[type="checkbox"] {
    background-color: #ccc;
    border-color: #ccc; 
}

.form-check-input:checked[type="checkbox"] {
    background-color: $secondary;
    border-color: $secondary; 
}

/* table for the car details */
.car-details-table{
    border-radius: 12px;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.car-details-table .table-striped-columns{
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
}

/* form components */
.textInput-field{
    max-width: 500px;
}

.command-button{
    margin-bottom: 10px;
    align-items: center;
    width: 300px;
    height:40px;
}

.simple-link{
    color:blue;
    &:hover{
        color:$secondary;
        transition-duration: 0.3s;
    }
}

.command-button-icon{
    font-size: 18px;
    font-weight: bold;
    &:active, &:hover{
        & > img{
            filter: invert(16%) sepia(94%) saturate(7493%) hue-rotate(-1deg) brightness(97%) contrast(101%); //red color
        }
    }
}

.command-button img{
    filter: invert(1);
}

.btn-secondary-clicked{
    background-color: white;
    color: $secondary;
}

/* Error or success messages */
#errorContainer{
    font-family: $normal-text_font;
    color: red;
}

#successContainer{
    font-family: $normal-text_font;
    color: green;
}

#errorContainer img{
    filter: invert(16%) sepia(94%) saturate(7493%) hue-rotate(-1deg) brightness(97%) contrast(101%); //red color
}

#successContainer img{
    filter: invert(16%) sepia(94%) saturate(7493%) hue-rotate(90deg) brightness(97%) contrast(101%);
}

.color-option:hover, .color-option-clicked{
    border: 10px solid $secondary;
}